<div>

    <div class="row">
        <div class="col-md-6">
            <app-view-heading 
            [title]="'analyticsissues.PAGETITLE' | translate"                      
            ></app-view-heading>    
        </div>
    </div>

    <div class="row mt-4">
        <form class="row" [formGroup]="searchForm">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                    <div class="mb-3">
                        <kendo-label [for]="process" text="{{'Process' | translate}}"></kendo-label>
                        <!-- <kendo-combobox class="form-control" #process [data]="processList"  formControlName="process">
                        </kendo-combobox> -->
                        <kendo-dropdownlist
                            class="form-control"
                            formControlName="process"
                            [defaultItem]="defaultProcess"
                            [data]="processList"
                            textField="processName"
                            valueField="processId"
                            [(ngModel)]="selectedProcess"
                            placeholder="Select Process"
                            #process
                        >
                        </kendo-dropdownlist>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <kendo-label [for]="product" text="{{'Product' | translate}}"></kendo-label>
                            <!-- <kendo-combobox class="form-control" #product [data]="productList"  formControlName="product">
                            </kendo-combobox> -->
                            <kendo-dropdownlist
                                class="form-control"
                                formControlName="product"
                                [defaultItem]="defaultProduct"
                                [data]="productList"
                                textField="productName"
                                valueField="productId"
                                [(ngModel)]="selectedProduct"
                                placeholder="Select Product"
                                #product
                            >
                            </kendo-dropdownlist>    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <kendo-label [for]="machine" text="{{'Machine' | translate}}"></kendo-label>
                            <!-- <kendo-combobox class="form-control" #machine [data]="machineList"  formControlName="machine">
                            </kendo-combobox> -->
                            <kendo-dropdownlist
                                class="form-control"
                                formControlName="machine"
                                [defaultItem]="defaultMachine"
                                [data]="machineList"
                                textField="machineId"
                                valueField="id"
                                [(ngModel)]="selectedMachine"
                                placeholder="Select Machine"
                                #machine
                            >
                            </kendo-dropdownlist>  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <kendo-daterange>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="label">Start Date</span>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="label">End Date</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <kendo-dateinput formControlName="startdate"
                                        kendoDateRangeStartInput
                                        [(value)]="daterange.start"
                                        ></kendo-dateinput>
                                    </div>
                                    <div class="col-md-2">
                                        <kendo-dateinput formControlName="endate"
                                        kendoDateRangeEndInput
                                        [(value)]="daterange.end"
                                        ></kendo-dateinput>
                                    </div>
                                </div>                                                    
                            </kendo-daterange>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-12 text-center">
              <button class="m-2" kendoButton [primary]="true" (click)="getQualityIssues()">Search</button>
              <button class="m-2" kendoButton>Clear</button>
            </div>
        </form>
    </div>

  <!----------------------------------------------------------------------->
  <!--------------Table to display ML models info from Search-------------->
  <!----------------------------------------------------------------------->
  <div class="row mt-4">
    <div class="col-md-12">

      <kendo-grid class=" vh-lg-70 vh-xl-70"
        [kendoGridBinding]="qualityIssuesOpen"
        kendoGridSelectBy="Id"            
        [selectedKeys]="mySelection"
        [pageSize]="20"
        [pageable]="true"
        [sortable]="true"
        [groupable]="true"
        [reorderable]="true"
        [resizable]="true"         
      >
        <ng-template kendoGridToolbarTemplate>         
            <h2>Open Issues</h2>
        </ng-template>
        <kendo-grid-column field="Product" title="Product" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.productId }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="processId" title="Process" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
              <div class="customer-name">{{ dataItem.processId }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="WorkOrder" title="Work Order" [width]="220" [style]="{'text-align': 'left'}">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="customer-name">{{ dataItem.workOrderNo }}</div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Machine" title="Machine" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
              <div class="customer-name">{{ dataItem.machineId }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field [width]=120>
            <ng-template kendoGridCellTemplate let-data>
                <button kendoButton class="m-2" [themeColor]="tertiary" (click)="closeQualityIssue(data)">Close Issue</button>
            </ng-template>            
        </kendo-grid-column>

      </kendo-grid>

    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-12">

      <kendo-grid class=" vh-lg-70 vh-xl-70"
        [kendoGridBinding]="qualityIssuesClose"
        kendoGridSelectBy="Id"            
        [selectedKeys]="mySelection"
        [pageSize]="20"
        [pageable]="true"
        [sortable]="true"
        [groupable]="true"
        [reorderable]="true"
        [resizable]="true"         
      >
      <ng-template kendoGridToolbarTemplate>         
        <h2>Closed Issues</h2>
      </ng-template>
        <kendo-grid-column field="Product" title="Product" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.productId }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="processId" title="Process" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
              <div class="customer-name">{{ dataItem.processId }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="WorkOrder" title="Work Order" [width]="220" [style]="{'text-align': 'left'}">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="customer-name">{{ dataItem.workOrderNo }}</div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Machine" title="Machine" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
              <div class="customer-name">{{ dataItem.machineId }}</div>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>

    </div>
  </div>

</div>