
<!----------------------------------------------------------------------->
<!--------------------------- View Details Tray ------------------------->

<div class="k-overlay" [hidden]="!isViewDetailsClicked"></div>

<span [hidden]="!isViewDetailsClicked">
    <kendo-window
    title= "Tray of Past Prediction: {{vdTitle}}"
    [top]="100"
    (close)="closeVD()"
    [minWidth]="350"
    [width]="700"
    >
        <section class="card text-right pb-2">

        <div class="d-flex flex-column">
            <div class="p-1 justify-content-center">
                <h2 style="text-align: center"> Work Order: {{vdTitle}} </h2>
            </div>
            <div class="px-4" style="text-align: left;">
                Prediction Type: <span class="predictiontype">{{vdPredictionType}}</span><br>
                ML Model: {{vdMlModel}}<br>
                ML Library/Framework: {{vdMlLibrary}}
            </div>

            <div class="my-3" style="align-content: center;">
               <table class="table-responsive">
                  <ng-container *ngFor="let row of vdWpList; index as i">
                    <tr >
                      <td [id]="item" *ngFor="let item of row" class="square"></td>
                    </tr>
                    <!-- labelling -->
                    <tr class="separator-row" >
                      <td class="label text-center" *ngFor="let item of row">
                        <p *ngIf="extractNumber(item)%numItemPerRow!=0"> [{{i+1}}, {{extractNumber(item)%numItemPerRow}}] </p>
                        <p *ngIf="extractNumber(item)%numItemPerRow==0"> [{{i+1}}, {{numItemPerRow}}] </p>
                      </td>
                    </tr>
                  </ng-container>
            </table>
            </div>

            <ul class="legend">
                <div class="d-flex flex-row justify-content-center px-4 mt-5 mb-3">
                    <li *ngFor="let item of status; let index = index" class="legend-item" >
                        <div class="px-4">
                            <span class="legend-marker" [style.background]="item.color"></span>
                            <b class="mx-1">{{ item.kind }}</b>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        </section>
    </kendo-window>
</span>

<!------------------------------------------------------------------------------------>
<!---------------------------------          header        --------------------------->
  <div class="row" style="height:10vh">
    <div class="col-md-7">
      <app-view-heading
        [title]="pageTitle"
        [previousRouteLink]="'/prediction-summary-page'"
      ></app-view-heading>
    </div>
    <div class="col-md-5" style="position: relative">
      <span style="position:absolute; right:2%; top:20%; font-size: 1.35rem">{{dashboardtime}}</span>
    </div>
  </div>


  <kendo-tilelayout
  [columns]="12"
  [rowHeight]="200"
  [resizable]="true"
  [reorderable]="true"
>
  <kendo-tilelayout-item title="KPI" [col]="1" [rowSpan]="2" colSpan="3">
    <kendo-tilelayout-item-body>
      <!--------1st KPI---------->
      <app-indicator-custom-sample
        [name]="'summarypage.KPI1' | translate"
        [group]=""
        [details]=""
      >
        <kendo-arcgauge style="height: 5vw" [value]="PredictedPassResult" [colors]="colors">
          <ng-template
            kendoArcGaugeCenterTemplate
            let-value="value"
            let-color="color"
          >
            <span [style.color]="color" style="font-size:1.8em">{{ PredictedPassResult }}%</span>
          </ng-template>
        </kendo-arcgauge>
      </app-indicator-custom-sample>
    </kendo-tilelayout-item-body>
    <kendo-tilelayout-item-body>
      <!--------2nd KPI---------->
      <app-indicator-custom-sample style="height: 5vw"
        [name]="'summarypage.KPI3' | translate"
        [group]=""
        [callout]="TotalFailOverTotalCase"
        [details]=""
      ></app-indicator-custom-sample>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="Real-time Prediction Chart" [col]="4" [colSpan]="9" [rowSpan]="2">
    <section class="chart" style="height:100%">
      <kendo-chart style="height:19vw" [categoryAxis]="{ categories: categoriesRealTimeChart, labels: { rotation: 'auto'}  }">
        <kendo-chart-value-axis>
          <kendo-chart-value-axis-item [min]="minYaxisRealTimeChart" [max]="maxYaxisRealTimeChart" ></kendo-chart-value-axis-item>
        </kendo-chart-value-axis>
        <kendo-chart-title text="Real-time % Pass Prediction"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
        <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
        <kendo-chart-series>
          <kendo-chart-series-item *ngFor="let item of realTimeChartSeries" type="line"
                                   [style]="smooth"
                                   [data]="item.data"
                                   [name]="item.name"
                                   [markers]="item.markers"
                                   [color]="item.color"
          ></kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </section>
  </kendo-tilelayout-item>

  <!-------------------------------------------------------------------------------------->
  <!---------------------------------        Work Order Table          ------------------->
  <!-------------------------------------------------------------------------------------->
  <kendo-tilelayout-item title="Work Order List" [col]="1" [colSpan]="7" [rowSpan]="2">
    <kendo-grid id="wotable"
                [data]="predHistTableDs"
                [resizable]="true"
                [pageable]="true"
                [pageSize]="20"
                style="height: 90%;"

    >
      <kendo-grid-column
        field="id"
        title="Work Order"
        width="100"
        [headerStyle]="{'text-align': 'center'}"
      ></kendo-grid-column>
      <kendo-grid-column
        field="startDt"
        title="Start Time"
        width="100"
        [headerStyle]="{'text-align': 'center'}"
      ></kendo-grid-column>
        <kendo-grid-column
          field="passPredict"
          title="% Pass Prediction"
          width="80"
          class="no-padding"
          [headerStyle]="{'text-align': 'center'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span
              class="whole-cell"
              [style.backgroundColor]="colorCode(dataItem.passPredict)"
              [style]="{'text-align' : 'center'} "
            >
            {{ dataItem.passPredict }}
            </span>
          </ng-template>

      </kendo-grid-column>
      <kendo-grid-column
        field="failTotalQty"
        title="Total Fail / Total Qty"
        width="80"
        [style]="{'text-align': 'center'}"
      ></kendo-grid-column>
      <kendo-grid-column
        field="status"
        title="Status"
        width="50"
        [headerStyle]="{'text-align': 'center'}"
      ></kendo-grid-column>
      <kendo-grid-column
        field="id"
        title=" "
        [width]="100"
        [style]="{'text-align': 'center'}"
      >
        <!--                    <a style="text-decoration: underline; justify-content: center; color: #0275d8" (click)="setTrayFromTable(predHistTableDs[1].workpieces)" > View Details </a>-->

        <ng-template kendoGridCellTemplate let-dataItem>
          <a id="detailsURL" style="text-decoration: underline; justify-content: center; color: #0275d8" (click)=onSelect(dataItem) > View Details </a>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </kendo-tilelayout-item>

  <!-------------------------------------------------------------------------------------->
  <!--------------------------------       Tray Visualisation          ------------------->
  <!-------------------------------------------------------------------------------------->
  <kendo-tilelayout-item style="height:100vh" title="Current WO Prediction Result" [col]="8" [colSpan]="5" [rowSpan]="5">
  <!--    <div class="flex-container">-->
    
      <div class="px-4 mt-2">
        Prediction Type: <span class="predictiontype">{{predictionType}}</span><br>
        ML Model: {{mlModel}}<br>
        ML Library/Framework: {{mlLibrary}}
      </div>

      <div class="d-flex flex-row px-4">
        <div class="col">
          <h3>Work Order: {{workOrderNo}}</h3>
        </div>
      </div>

      <!-- <table class="table-responsive">
        <ng-container *ngFor="let row of rowArray">
          <tr >
            <td [id]="item.wpId" *ngFor="let item of wpList.slice(0,numItemPerRow)" class="square"></td>
          </tr>
          
          <tr class="separator-row" >
            <td class="label text-center" *ngFor="let item of wpList.slice(0,numItemPerRow)">
              <p *ngIf="item.wpId%numItemPerRow!=0"> [{{i+1}}, {{item.wpId%numItemPerRow}}] </p>
              <p *ngIf="item.wpId%numItemPerRow==0"> [{{i+1}}, {{numItemPerRow}}] </p>
            </td>
          </tr>
        </ng-container>
      </table> -->


      
      <!--------------------------------------------------------------------------->
      <!----------------------------Rows of the workpieces------------------------->
        <div class="tray" style="height:60%">
          <ng-container *ngFor="let rowCounter of rowArray">
            
                <div class="classrow" style="align-content: center;">
                  <div class="d-flex flex-row px-4 justify-content-center my-3">
                    <ng-container *ngFor="let item of wpList.slice(rowCounter*numItemPerRow,(rowCounter+1)*numItemPerRow)">
                        <div [id]="item.wpId" [style]="setSquareHeight()" class="square d-flex flex-row mx-2 justify-content-center"></div>
                    </ng-container>
                  </div>
                  <div class="d-flex flex-row px-4 justify-content-center my-3">
                    <!-- labelling -->
                    <ng-container *ngFor="let item of wpList.slice(rowCounter*numItemPerRow,(rowCounter+1)*numItemPerRow)">
                        <div class="label d-flex flex-row mx-2 justify-content-center">{{item.wpName}}</div>
                    </ng-container>
                  </div>      
                </div>            
          </ng-container>
        </div>
    
      <ul class="legend" style="height:10%">
        <div class="d-flex flex-row justify-content-center px-4 my-3">
          <li *ngFor="let item of status; let index = index" class="legend-item" >
            <div class="px-4">
              <span class="legend-marker" [style.background]="item.color"></span>
              <b class="mx-1">{{ item.kind }}</b>
            </div>
          </li>
        </div>
      </ul>
    

  </kendo-tilelayout-item>

</kendo-tilelayout>
