@import "variables";

.ViewHeading {
  $root: &;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;

  > * {
    margin-bottom: 1rem;
  }

  &__left {
    min-width: 25rem;
    margin-right: 3rem;
    flex: 1;
  }

  &__title {
    max-width: 80ch;
    display: flex;
    align-items: center;
  }

  &__subtitle {
    margin: -1rem 0 0 0;
    max-width: 80ch;
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
  }

  &__title, .back-option {
    margin-top: 0;
  }

  .back-option {
    font-size: inherit;
    margin-right: 1rem;
    width: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
