<div class="k-overlay" *ngIf="showUploadFile"></div>

<kendo-window
    title="Upload ML Model File"
    *ngIf="showUploadFile"
    (close)="closeUploadFileWindow()"
    [minWidth]="250" 
    [width]="800"   
    [top]="windowTop"
    [(left)]="windowLeft"
>

  <div class="row">
      <div class="col-md-4 lg-4">
          <div class="mb-3">                    
              <kendo-label [for]="modelType" text="ML Model"></kendo-label>
              <kendo-dropdownlist
                  class="form-control"                                
                  [defaultItem]="defaultModelType"
                  [data]="modelTypes"
                  textField="modelName"
                  valueField="id"
                  [(ngModel)]="selectedModelType"
                  placeholder="Select ML model"                  
                  #modelType
              >
              </kendo-dropdownlist>
          </div>
      </div>
  </div>

  <div class="mb-3">
      <kendo-upload 
          [autoUpload]="false"
          [saveUrl]="uploadSaveUrl"
          [removeUrl]="uploadRemoveUrl"
          (success)="transferSuccessHandler($event)"
          (upload)="uploadEventHandler($event)"
          (error)="uploadFail($event)"
      >   

      </kendo-upload>
      
  </div> 

</kendo-window>

<kendo-dialog  *ngIf="showDialog">
  <p style="margin: 30px; text-align: center;">
    {{this.dialogText}}
  </p>
  <kendo-dialog-titlebar  (close)="closeDialog()"  >
    <div>  {{this.dialogTitle }} </div>
  </kendo-dialog-titlebar>
  <kendo-dialog-actions class="col-7" [layout]="actionsLayout">
    <button kendoButton class="k-primary col-7" (click)="closeDialog()" >
      OK
    </button>
  </kendo-dialog-actions>
</kendo-dialog>


<div>
    <div class="row">
      <div class="col-12">
        <app-view-heading
          [title]="'ML Model File'"
        ></app-view-heading>  
      </div>
    </div>    
      
    <!------------------------------------------------------------------------>
    <!------------------------Form to search ML models------------------------>
    <!------------------------------------------------------------------------>
    <form class="row" [formGroup]="searchModelFileForm">
      <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
<!--                    <kendo-label [for]="modelFileTxtBox" text="Model File"></kendo-label>
                    <input class="form-control"
                    formControlName="modelFile"
                    kendoTextBox
                    #c
                    />-->
                    <kendo-label [for]="modelFileSBox" text="Topic"></kendo-label>
                    <kendo-autocomplete
                            class="form-control"
                            formControlName="topic"
                            [data]="modelFileData"
                            [filterable]="true"
                            (filterChange)="modelFileFilter($event)"
                            placeholder="e.g. laser"
                            #modelFileSBox
                    >
                    </kendo-autocomplete>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <kendo-label [for]="modelType" text="ML Model"></kendo-label>
                    <kendo-dropdownlist
                        class="form-control"
                        formControlName="modelName"
                        [defaultItem]="defaultModelType"
                        [data]="modelTypes"
                        textField="modelName"
                        valueField="id"
                        [(ngModel)]="selectedModelType"
                        placeholder="Select ML model"
                        #modelType
                    >
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
      </div>
  
      <div class="col-12 text-center">
      <button class="m-2" kendoButton [primary]="true" (click)="searchMLModelFile()">Search</button>
      <button class="m-2" kendoButton>Clear</button>
      </div>
    </form>
  
  
    <!----------------------------------------------------------------------->
    <!--------------Table to display ML models info from Search-------------->
    <!----------------------------------------------------------------------->
    <div class="row">
      <div class="col-md-12">
        <kendo-grid class=" vh-lg-70 vh-xl-70"
          [kendoGridBinding]="modelFileList"
          [pageSize]="20"
          [pageable]="true"
          [reorderable]="true"
          [resizable]="true"                    
        >
          <ng-template kendoGridToolbarTemplate>         
            <button kendoButton type="button" [primary]="true" (click)="openUploadFileModal()">
                Upload ML Model File
            </button>
          </ng-template>
          <kendo-grid-column field="ModelFile" title="Model File" [width]="220" [locked]="true">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="customer-name">{{ dataItem.modelFileName }}</div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="ModelName" title="Model Name" [width]="220">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="customer-name">{{ dataItem.modelName }}</div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Library" title="Library" [width]="220">
              <ng-template kendoGridCellTemplate let-dataItem>
                  <div class="customer-name">{{ dataItem.library }}</div>
              </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Remarks" title="Remarks" [width]="220">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="customer-name">{{ dataItem.remarks }}</div>
            </ng-template>
          </kendo-grid-column>
  
          <kendo-grid-command-column
            title="Actions"
            [resizable]="true"
            [width]="150"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <button kendoGridEditCommand class="me-3"><span class="k-icon k-i-edit "></span></button>
              <button kendoGridRemoveCommand class="me-3"><span class="k-icon k-i-trash "></span></button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
  
      </div>
    </div>
   
</div>
