<div>

    <div class="row">
        <div class="col-md-6">
            <app-view-heading 
            [title]="'analyticsyieldtrend.PAGETITLE' | translate"                      
            ></app-view-heading>    
        </div>
    </div>

    <div class="row mt-4">
        <form class="row" [formGroup]="searchForm">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                    <div class="mb-3">
                        <kendo-label [for]="process" text="{{'Process' | translate}}"></kendo-label>
                        <!-- <kendo-combobox class="form-control" #process [data]="processList"  formControlName="process">
                        </kendo-combobox> -->
                        <kendo-dropdownlist
                            class="form-control"
                            formControlName="process"
                            [defaultItem]="defaultProcess"
                            [data]="processList"
                            textField="processName"
                            valueField="processId"
                            [(ngModel)]="selectedProcess"
                            placeholder="Select Process"
                            #process
                        >
                        </kendo-dropdownlist>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <kendo-label [for]="product" text="{{'Product' | translate}}"></kendo-label>
                            <!-- <kendo-combobox class="form-control" #product [data]="productList"  formControlName="product">
                            </kendo-combobox> -->
                            <kendo-dropdownlist
                                class="form-control"
                                formControlName="product"
                                [defaultItem]="defaultProduct"
                                [data]="productList"
                                textField="productName"
                                valueField="productId"
                                [(ngModel)]="selectedProduct"
                                placeholder="Select Product"
                                #product
                            >
                            </kendo-dropdownlist>    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <kendo-label [for]="machine" text="{{'Machine' | translate}}"></kendo-label>
                            <!-- <kendo-combobox class="form-control" #machine [data]="machineList"  formControlName="machine">
                            </kendo-combobox> -->
                            <kendo-dropdownlist
                                class="form-control"
                                formControlName="machine"
                                [defaultItem]="defaultMachine"
                                [data]="machineList"
                                textField="machineId"
                                valueField="id"
                                [(ngModel)]="selectedMachine"
                                placeholder="Select Machine"
                                #machine
                            >
                            </kendo-dropdownlist>  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <kendo-daterange>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="label">Start Date</span>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="label">End Date</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <kendo-dateinput formControlName="startdate"
                                        kendoDateRangeStartInput
                                        [(value)]="daterange.start"
                                        ></kendo-dateinput>
                                    </div>
                                    <div class="col-md-2">
                                        <kendo-dateinput formControlName="endate"
                                        kendoDateRangeEndInput
                                        [(value)]="daterange.end"
                                        ></kendo-dateinput>
                                    </div>
                                </div>                                                    
                            </kendo-daterange>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-12 text-center">
              <button class="m-2" kendoButton [primary]="true" (click)="getYieldTrend()">Search</button>
              <button class="m-2" kendoButton>Clear</button>
            </div>
        </form>
    </div>

    <!----------------------------------------------------->
    <!------------------Yield Trend Chart------------------>
    <!----------------------------------------------------->
    <div class="row mt-4">
        <div class="col-md-12" >
            <section class="chart" style="height:100%">
                <kendo-chart [categoryAxis]="{ categories: yieldDate, labels: { rotation: 'auto'}  }">
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item [min]="0" [max]="110" ></kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>
                    <kendo-chart-title text="Daily % Predicted Pass Trend"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of dailyYieldSeries" type="line" [style]="smooth" [data]="item.data" [name]="item.name" [markers]="item.markers"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </section>    
        </div>
    </div>

     <!-------------------------------------------------------->
    <!-----------Total OOS Count and OOS Rate Chart------------>
    <!--------------------------------------------------------->
    <div class="row mt-4">
        <div class="col-md-12" >
            <section class="chart" style="height:100%">
                <kendo-chart [categoryAxis]="{categories: yieldDate, axisCrossingValue: crossingValues, labels: { rotation: 'auto'}}">                   
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item 
                        *ngFor="let item of oosCountRateValueAxes"
                        [name]="item.name"
                        [title]="{ text: item.title }"
                        [min]="item.min"
                        [max]="item.max"
                        [majorUnit]="item.majorUnit"
                        >
                        </kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>

                    <kendo-chart-title text="Daily OOS Count/OOS Rate Trend"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of oosCountRateSeries" 
                        [type]="item.type"                     
                        [data]="item.data" 
                        [name]="item.name" 
                        [markers]="item.markers"
                        [color]="item.color"
                        [stack]="item.stack"
                        [axis]="item.axis"
                        >
                        </kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </section>    
        </div>
    </div>

</div>
