<div>
  <div class="row">
    <div class="col-12">
      <app-view-heading
        [title]="'Machine Learning Model Configuration'"
      ></app-view-heading>
    </div>
  </div>


  <!------------------------------------------------------------------------>
  <!------------------------Form to search ML models------------------------>
  <!------------------------------------------------------------------------>
  <form class="row" [formGroup]="searchModelForm">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <kendo-label [for]="topicSBox" text="Topic"></kendo-label>
            <kendo-autocomplete
                    class="form-control"
                    formControlName="topic"
                    [data]="topicData"
                    [filterable]="true"
                    (filterChange)="topicFilter($event)"
                    placeholder="e.g. laser"
                    #topicSBox
            >
            </kendo-autocomplete>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <kendo-label [for]="modelType" text="ML Model Type"></kendo-label>
            <kendo-dropdownlist
              class="form-control"
              formControlName="modelName"
              [defaultItem]="defaultModelType"
              [data]="modelTypes"
              textField="modelName"
              valueField="id"
              [(ngModel)]="selectedModelType"
              placeholder="Select ML model type"
              #modelType
            >
            </kendo-dropdownlist>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <kendo-label [for]="modelFile" text="ML Model File"></kendo-label>
            <kendo-dropdownlist
              class="form-control"
              formControlName="modelFile"
              [defaultItem]="defaultModelFile"
              [data]="modelFiles"
              textField="modelFile"
              valueField="id"
              [(ngModel)]="selectedModelFile"
              placeholder="Select ML model file"
              #modelFile
            >
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 text-center">
      <button class="m-2" kendoButton [primary]="true" (click)="searchMLModel()">Search</button>
      <button class="m-2" kendoButton (click)="clearSearchFields()">Clear </button>
    </div>
  </form>


  <!----------------------------------------------------------------------->
  <!--------------Table to display ML models info from Search-------------->
  <!----------------------------------------------------------------------->
  <div class="row">
    <div class="col-md-12">

      <kendo-grid class=" vh-lg-70 vh-xl-70"
                  [kendoGridBinding]="modelList"
                  [pageSize]="20"
                  [pageable]="true"
                  [sortable]="true"
                  [resizable]="true"
                  [reorderable]="true"
                  [groupable]="true"
                  [navigable]="true"
                  [selectable]="true"
                  (edit)="onEditClick($event)"
      >
        <ng-template kendoGridToolbarTemplate>
          <button kendoButton type="button" [primary]="true" (click)="openAddModelModal()">
            Add ML Model
          </button>
        </ng-template>
        <kendo-grid-column field="Topic" title="Topic" [width]="220" [locked]="true">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.topic }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Module" title="Module" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.module }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Line" title="Line" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.productionLine }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Machine" title="Machine" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.machine }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Process" title="Process" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.process }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Product" title="Product" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.product }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="PreprocessingFile" title="Preprocessing Step" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.preprocessingFile }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Model" title="ML Model Type" [width]="220" [style]="{'text-align': 'left'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.modelName }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ModelFile" title="ML Model File" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="customer-name">{{ dataItem.modelFile }}</div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-command-column
          title="Actions"
          [resizable]="true"
          [width]="150"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoGridEditCommand class="me-3"><span class="k-icon k-i-edit "></span></button>
            <button kendoGridRemoveCommand class="me-3"><span class="k-icon k-i-trash "></span></button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>

    </div>
  </div>

</div>

<!----------------------------------------------------------------------->
<!--------------------Update ML Model pop-up window---------------------->
<!----------------------------------------------------------------------->
<div class="k-overlay" *ngIf="isEditModelWindowOpened"></div>

<kendo-window
  title="Update ML Model"
  *ngIf="isEditModelWindowOpened"
  (close)="closeEditModelWindow()"
  [top]="200"
  [minWidth]="250"
  [width]="450"
>
  <form class="k-form" [formGroup]="editModelForm" (ngSubmit)="onSubmitEditModel()">
    <fieldset>
      <legend>ML Model Details</legend>

      <kendo-formfield>
        <kendo-label class="k-form-field" [for]="EditTopic" text="Topic"></kendo-label>
        <kendo-textbox class="k-textbox"
                       formControlName="editTopic"
                       #EditTopic
                       required
        ></kendo-textbox>
        <kendo-formhint>Enter topic</kendo-formhint>
        <kendo-formerror>Error: Topic is required</kendo-formerror>
      </kendo-formfield>              <!-- Topic -->

      <kendo-formfield>
        <kendo-label class="k-form-field" [for]="editPreprocessingFile" text="Preprocessing File"></kendo-label>
        <kendo-textbox class="k-textbox"
                       formControlName="editPreprocessingfile"
                       #editPreprocessingFile
                       required >
        </kendo-textbox>
        <kendo-formhint>Enter Preprocessing File</kendo-formhint>
        <kendo-formerror>Error: Preprocessing File is required</kendo-formerror>
      </kendo-formfield>            <!-- Preprocessing File -->

      <kendo-formfield>
        <kendo-label [for]="editModelTypeId" text="Select ML model"></kendo-label>
        <kendo-dropdownlist
          class="form-control"
          formControlName="editModeltype"
          [data]="modelTypes"
          textField="modelName"
          valueField="id"
          [(ngModel)]="selectedModelTypeEdit"
          placeholder="Select ML model"
          (valueChange)="modelTypeChange($event)"
          #editModelTypeId
          required
        ></kendo-dropdownlist>
        <kendo-formhint>Select ML model</kendo-formhint>
        <kendo-formerror>Error: ML model is required</kendo-formerror>
      </kendo-formfield>            <!-- ML Model Type -->

      <kendo-formfield>
        <kendo-label [for]="editModelTypeId" text="Select Model File"></kendo-label>
        <kendo-dropdownlist
          class="form-control"
          formControlName="editModelfile"
          [data]="modelFilesEdit"
          textField="modelFile"
          valueField="id"
          [(ngModel)]="selectedModelFileEdit"
          placeholder="Select ML model file"
          #editModelFileId
          required
        ></kendo-dropdownlist>
        <kendo-formhint>Select ML model to populate model files</kendo-formhint>
        <kendo-formerror>Error: Model File is required</kendo-formerror>
      </kendo-formfield>             <!--ML Model File -->

      <kendo-formfield>
        <kendo-label class="k-form-field" [for]="Module" text="Module"></kendo-label>
        <kendo-dropdownlist
          class="form-control"
          [data]="moduleList"
          formControlName="editModule"
          textField="moduleName"
          valueField="id"
          [(ngModel)]="selectedModuleEdit"
          (valueChange)="moduleChangeEdit($event)"
          #Module
        >
        </kendo-dropdownlist>
      </kendo-formfield>              <!-- Module -->

      <kendo-formfield>
        <kendo-label class="k-form-field"  [for]="productionline" text="Production Line"></kendo-label>
        <kendo-dropdownlist
          class="form-control"
          formControlName="editProductionline"
          [data]="prodlineList"
          textField="line"
          valueField="id"
          [(ngModel)]="selectedProdLineEdit"
          (valueChange)="moduleChangeAdd($event)"
          #productionline
        >
        </kendo-dropdownlist>
      </kendo-formfield>
        

      <label class="k-form-field">
        <span>Use In Production</span>
        <kendo-dropdownlist
          class="form-control"
          formControlName="editModelstatus"
          [data]="modelStatus"
          textField="status"
          valueField="isActive"
          [(ngModel)]="selectedStatus"
          placeholder="Select status"
        >
        </kendo-dropdownlist>
      </label>   <!-- Use In Production -->
    </fieldset>

    <div class="k-actions justify-content-center">
      <button type="submit" class="k-button k-primary" >
        Update Model
      </button>
      <button type="button" class="k-button" (click)="closeEditModelWindow()">
        Cancel
      </button>
    </div>
  </form>

</kendo-window>


<!----------------------------------------------------------------------->
<!---------------------Add ML Model pop-up window------------------------>
<!----------------------------------------------------------------------->
<div class="k-overlay" *ngIf="isAddModelWindowOpened"></div>

<kendo-window
  title="Add ML Model"
  *ngIf="isAddModelWindowOpened"
  [top]="100"
  (close)="closeAddModelWindow()"

  [minWidth]="250"
  [width]="450"
>



  <form class="k-form" [formGroup]="addModelForm" (ngSubmit)="onSubmitAddModel()">

    <fieldset>
      <legend>New ML Model Details</legend>

       <!-----------------topic------------------->
      <kendo-formfield>
        <kendo-label class="k-form-field" [for]="addTopic" text="Topic"></kendo-label>
        <kendo-textbox class="k-textbox"
                       formControlName="addTopic"
                       #addTopic
                       required        ></kendo-textbox>
        <kendo-formhint>Enter topic</kendo-formhint>
        <kendo-formerror>Error: Topic is required</kendo-formerror>
      </kendo-formfield> 
      
      <!------------------Preprocessing-------------------->
      <kendo-formfield>
        <kendo-label class="k-form-field" [for]="addPreprocessingFile" text="Preprocessing File"></kendo-label>
        <kendo-textbox class="k-textbox"
                       formControlName="addPreprocessingFile"
                       #addPreprocessingFile
                       required >
        </kendo-textbox>
        <kendo-formhint>Enter Preprocessing File</kendo-formhint>
        <kendo-formerror>Error: Preprocessing File is required</kendo-formerror>
      </kendo-formfield>

      <!------------------ML Model Type--------------------->
      <kendo-formfield>
        <kendo-label [for]="addModelTypeId" text="Select ML model"></kendo-label>
        <kendo-dropdownlist
          class="form-control"
          formControlName="addModelTypeId"
          [data]="modelTypes"
          textField="modelName"
          valueField="id"
          [(ngModel)]="selectedModelTypeAdd"
          placeholder="Select ML model"
          (valueChange)="modelTypeChangeAdd($event)"
          #addModelTypeId
          required
        ></kendo-dropdownlist>
        <kendo-formhint>Select ML model</kendo-formhint>
        <kendo-formerror>Error: ML model is required</kendo-formerror>
      </kendo-formfield>            

      <!---------------------ML Model File------------------->
      <kendo-formfield>
        <kendo-label [for]="addModelFileId" text="Select Model File"></kendo-label>
        <kendo-dropdownlist
          class="form-control"
          formControlName="addModelFileId"
          [data]="modelFilesAdd"
          textField="modelFile"
          valueField="id"
          [(ngModel)]="selectedModelFileAdd"
          placeholder="Select ML model file"
          #addModelFileId
          required
        ></kendo-dropdownlist>
        <kendo-formhint>Select ML model to populate model files</kendo-formhint>
        <kendo-formerror>Error: Model File is required</kendo-formerror>
      </kendo-formfield>             

      <!-------------------Module------------------>
      <kendo-formfield>
        <kendo-label  class="k-form-field" [for]="module" text="Module"></kendo-label>
        <kendo-dropdownlist
          class="form-control"
          [data]="moduleList"
          formControlName="addModule"
          textField="moduleName"
          valueField="id"
          [(ngModel)]="selectedModuleAdd"
          (valueChange)="moduleChangeAdd($event)"
          #module
          required
        >
        </kendo-dropdownlist>
        <kendo-formhint>Select Module</kendo-formhint>
        <kendo-formerror>Error: Module is required</kendo-formerror>
      </kendo-formfield>             

      <!----------------Production Line-------------->
      <kendo-formfield>
        <kendo-label class="k-form-field" [for]="productionline" text="Production Line"></kendo-label>
        <kendo-dropdownlist
          class="form-control"
          formControlName="addProductionLine"
          [data]="prodlineListAdd"
          textField="line"
          valueField="id"
          [(ngModel)]="selectedProductionLineAdd"
          #productionline
          required
        >
        </kendo-dropdownlist>
        <kendo-formhint>Select production line </kendo-formhint>
        <kendo-formerror>Error: Production line is required</kendo-formerror>
      </kendo-formfield>             

    </fieldset>

    <div class="k-actions justify-content-center">
      <button type="submit" class="k-button k-primary" [disabled]="this.addModelForm.invalid" >
        Add Model
      </button>
      <button type="button" class="k-button" (click)="closeAddModelWindow()">
        Cancel
      </button>
    </div>

  </form>
</kendo-window>


<kendo-dialog  *ngIf="submitIsClicked">
  <p style="margin: 30px; text-align: center;">
    {{this.dialogText}}
  </p>
  <kendo-dialog-titlebar  (close)="closeDialog()"  >
    <div>  {{this.dialogTitle }} </div>
  </kendo-dialog-titlebar>
  <kendo-dialog-actions class="col-7" [layout]="actionsLayout">
    <button kendoButton class="k-primary col-7" (click)="closeDialog()" >
      OK
    </button>
  </kendo-dialog-actions>
</kendo-dialog>


