<div class="k-overlay" *ngIf="showLotList"></div>

<kendo-window
    title={{lotListTitle}}
    *ngIf="showLotList"
    (close)="closeLotListWindow()"
    [minWidth]="250"
    [width]="900"
    [top]="windowTop"
    [(left)]="windowLeft"
>

    <kendo-grid
        [kendoGridBinding]="lotListData"
        kendoGridSelectBy="id"
        [pageSize]="20"
        [pageable]="true"
        [sortable]="true"
        [groupable]="true"
        [reorderable]="true"
        [resizable]="true"
        [height]="500"
        [columnMenu]="{ filter: true }"
        [sort]="sortByCol"
        (dataStateChange)="onDataStateChange($event)"
    >
        <ng-template kendoGridToolbarTemplate>
            <button kendoGridExcelCommand type="button" icon="file-excel">Export to Excel</button>
            <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
        </ng-template>


        <kendo-grid-column *ngIf="showMachineId" field="machineId" title="Machine ID"
            [width]="140"
            [headerStyle]="{'text-align': 'left'}"
            [style]="{'text-align': 'left'}"
        ></kendo-grid-column>
        <kendo-grid-column field="processId" title="Process ID" [width]="120"
            [headerStyle]="{'text-align': 'left'}"
            [style]="{'text-align': 'left'}"
        ></kendo-grid-column>
        <kendo-grid-column field="batchId" [title]="batchIdColName" [width]="100"
            [headerStyle]="{'text-align': 'left'}"
            [style]="{'text-align': 'left'}"
        ></kendo-grid-column>
        <kendo-grid-column field="workpieceId" [title]="workpieceIdColName" [width]="150"
            [headerStyle]="{'text-align': 'left'}"
            [style]="{'text-align': 'left'}"
        ></kendo-grid-column>
        <kendo-grid-column field="createdDateTime" title="Date" [width]="200"
            [headerStyle]="{'text-align': 'left'}"
            [style]="{'text-align': 'left'}"
        >
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.createdDateTime | date: 'YYYY-MM-dd hh:mm:ss a'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column *ngIf="showPredictedResult" field="predictResult" title="Predicted Result" [width]="130"
            [headerStyle]="{'text-align': 'left'}"
            [style]="{'text-align': 'left'}"
        >
            <ng-template kendoGridCellTemplate let-dataItem>
                <span style="display: block; height: 35px; padding-top: 10px;" [class]="{'codeColumn': true}">
                    {{intl.formatNumber(dataItem.predictResult, "n4")}}
                </span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-pdf
        fileName="predictionLotList.pdf"
        [repeatHeaders]="true"
        ></kendo-grid-pdf>
        <kendo-grid-excel fileName="predictionLotList.xlsx"></kendo-grid-excel>

    </kendo-grid>

</kendo-window>

<div>

    <div class="row">
        <div class="col-md-7">
          <app-view-heading
            [title]="pageTitle"
            [previousRouteLink]="'/prediction-summary-page'"
          ></app-view-heading>
        </div>
        <div class="col-md-5" style="position: relative">
            <span style="position:absolute; right:2%; top:20%; font-size: 1.35rem">{{dashboardtime}}</span>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">  
            <div class="row">
                <!--<img src="assets/img/QMM.png">-->
                <img [src]="machineImage">
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <app-indicator-custom-sample
                    [name]="'% Pass Prediction'"
                    [group]=""
                    [callout]="PredictedPassResult"
                    [details]="['Click to see details']"                                            
                    (click)="openLotList('pass')"
                    ></app-indicator-custom-sample>                                                      
                </div>
                <div class="col-md-4">
                    <app-indicator-custom-sample
                    [name]="'% Fail Prediction'"
                    [group]=""
                    [callout]="PredictedFailResult"
                    [details]="['Click to see details']"
                    (click)="openLotList('fail')"
                    ></app-indicator-custom-sample>                                            
                </div>
                <div class="col-md-4">
                    <app-indicator-custom-sample
                    [name]="'Total Fail / Total Predictions'"
                    [group]=""
                    [callout]="TotalFailOverTotalCase" 
                    [details]=""
                    ></app-indicator-custom-sample>                        
                </div>                
            </div>
        </div>

        <div class="col-md-6">             
            <section class="chart" style="height: 100%">
                <kendo-chart [categoryAxis]="{ categories: categoriesRealTimeChart, labels: { rotation: 'auto'}  }">
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item [min]="minYaxisRealTimeChart" [max]="maxYaxisRealTimeChart" ></kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>
                    <kendo-chart-title text="Real-time % Pass Prediction - {{machineId}}"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of realTimeChartSeries" 
                            type="line" 
                            [style]="smooth" 
                            [data]="item.data" 
                            [name]="item.name" 
                            [markers]="item.markers"
                            [color]="item.color"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>    
            </section>            
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">

<!--            <kendo-grid-->
<!--                [sortable]="true"-->
<!--                [kendoGridBinding]="YieldByProcessGridData"-->
<!--                [sort]="sortByProcess">-->
<!--                <kendo-grid-column field="processId" title="Process ID" [width]="68"-->
<!--                [headerStyle]="{'text-align': 'center'}"-->
<!--                >-->
<!--                </kendo-grid-column>-->
<!--                <kendo-grid-column field="passRate" title="Predicted Yield (%)" [width]="74">-->
<!--                    <ng-template kendoGridCellTemplate let-dataItem>-->
<!--                        <span style="display: block; height: 35px; padding-top: 10px;" [style.backgroundColor]="cellColorCode(dataItem.passRate,dataItem.targetPassRate)">-->
<!--                        {{ dataItem.passRate }}-->
<!--                        </span>-->
<!--                    </ng-template>-->
<!--                </kendo-grid-column>-->
<!--                <kendo-grid-column field="targetPassRate" title="Target (%)" [width]="50"></kendo-grid-column>-->
<!--            </kendo-grid>-->
        </div>

        <div class="col-md-6">
            <section class="chart">
                <kendo-chart [categoryAxis]="{ categories: categories, labels: { rotation: 'auto'}  }">
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item [min]="minYaxisDailyYieldChart" [max]="maxYaxisDailyYieldChart" ></kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>
                    <kendo-chart-title text="Past 14 Days Daily % Pass - {{machineId}} (Actual vs Prediction)"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of dailyChartSeries"
                            type="line"
                            [style]="smooth"
                            [data]="item.data"
                            [name]="item.name"
                            [markers]="item.markers"
                            [color]="item.color"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </section>

        </div>

    </div>


    <div class="row">
        <app-prediction-machinetray-page></app-prediction-machinetray-page>
    </div>

</div>
















