nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin: 0 4px;
}

a {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 3vh;
  cursor: pointer;
  line-height: 2vw;
  /*
  border-radius: 0.5vmin;
  */
  text-align: center;
  font-size: 1em;
}

a.current,
a:not(.more):hover {
  background-color: #007acc;
  color: #fff;
  font-weight: 700;
}

a.more:hover,
a.current {
  cursor: default;
  text-decoration: none;
}

button {
  background-color: #e9ecef;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 1em;
  border-radius: 4px;
  color: #007acc;
  padding: 8px 16px;
}

button[disabled] {
  cursor: default;
  color: #212529;
}

button:not([disabled]):hover {
  background-color: #007acc;
  color: #fff;
  cursor: pointer;
  outline: none;
}
