<div>

    <div class="row">
        <div class="col-md-7">
            <app-view-heading
            [title]="'PAGETITLE' | translate: { value: pagename}"
            ></app-view-heading>
        </div>

        <div class="col-md-5" style="position: relative">
            <span style="position:absolute; right:2%; top:20%; font-size: 1.35rem">{{dashboardtime}}</span>
        </div>
    </div>


    <div class="row mt-4">
        <!----------------------------------------------------->
        <!-------------------------3 KPIs---------------------->
        <!----------------------------------------------------->
        <div class="col-md-3" >
            <div class="row" style="height:33%">
                <div class="col-md-12">
                    <app-indicator-custom-sample
                    [name]="'summarypage.KPI1' | translate"
                    [group]=""
                    [callout]="PredictedPassResult"
                    [details]=""
                    ></app-indicator-custom-sample>
                </div>
            </div>

            <div class="row mt-2" style="height:33%">
                <div class="col-md-12">
                    <app-indicator-custom-sample
                    [name]="'summarypage.KPI2' | translate"
                    [group]=""
                    [callout]="PredictedFailResult"
                    [details]=""
                    ></app-indicator-custom-sample>
                </div>
            </div>

            <div class="row mt-2" style="height:33%">
                <div class="col-md-12">
                    <app-indicator-custom-sample
                    [name]="'summarypage.KPI3' | translate"
                    [group]=""
                    [callout]="TotalFailOverTotalCase"
                    [details]=""
                    ></app-indicator-custom-sample>
                </div>
            </div>
        </div>

        <!----------------------------------------------------->
        <!----------------Real-time Yield Chart---------------->
        <!----------------------------------------------------->
        <div class="col-md-9" >
            <section class="chart">
                <kendo-chart [categoryAxis]="{ categories: categoriesRealTimeChart, labels: { rotation: 'auto'}  }">
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item [min]="minYaxisRealTimeChart" [max]="maxYaxisRealTimeChart" ></kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>
                    <kendo-chart-title text="Real-time % Pass Prediction"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of realTimeChartSeries" type="line"
                        [style]="smooth"
                        [data]="item.data"
                        [name]="item.name"
                        [markers]="item.markers"
                        [color]="item.color"
                        ></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </section>
        </div>
    </div>


    <div class="row mt-4">
        <!---------------Yield By Machine Table---------------->
        <div class="col-md-3">
            <div class="row">
                <h3>Predicted % Pass By Machine</h3>
            </div>
            <div class="row">
                <!-- <div class="col-md-2">
                    <kendo-label [for]="combobox" text="{{'Yield Status' | translate}}"></kendo-label>
                </div>     -->
                <div class="col-md-12">
                    <kendo-combobox class="form-control" #combobox [data]="listStatus"  (valueChange)="byMachineValueChange($event)">
                    </kendo-combobox>
                </div>
            </div>

            <kendo-grid class="mt-2"
                [sortable]="true"
                [kendoGridBinding]="YieldByMachineGridData"
                [sort]="sortByMachine">
                <kendo-grid-column field="machineId" title="Machine ID" [width]="68" >
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <a [routerLink]="['/prediction-machinetray-page']" [queryParams]="{ machineId: dataItem.machineId }" style="text-decoration: underline;" >{{dataItem.machineId}}</a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="passRate" title="Pass Prediction (%)" [width]="74">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span style="display: block; height: 35px; padding-top: 10px;" [style.backgroundColor]="cellColorCode(dataItem.passRate,dataItem.targetPassRate)">
                        {{ dataItem.passRate }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="targetPassRate" title="Target (%)" [width]="50"></kendo-grid-column>
            </kendo-grid>

        </div>

        <!---------------Yield By Process Table---------------->
        <div class="col-md-3">
            <div class="row">
                <h3>Predicted % Pass By Process</h3>
            </div>
            <div class="row">
                <!-- <div class="col-md-2">
                    <kendo-label [for]="combobox" text="{{'Yield Status' | translate}}"></kendo-label>
                </div>     -->
                <div class="col-md-12">
                    <kendo-combobox class="form-control" #combobox [data]="listStatus"  (valueChange)="byProcessValueChange($event)">
                    </kendo-combobox>
                </div>
            </div>

            <kendo-grid class="mt-2"
                [sortable]="true"
                [kendoGridBinding]="YieldByProcessGridData"
                [sort]="sortByProcess">
                <kendo-grid-column field="processId" title="Process ID" [width]="68" >
                </kendo-grid-column>
                <kendo-grid-column field="passRate" title="Pass Prediction (%)" [width]="74">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span style="display: block; height: 35px; padding-top: 10px;" [style.backgroundColor]="cellColorCode(dataItem.passRate,dataItem.targetPassRate)">
                        {{ dataItem.passRate }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="targetPassRate" title="Target (%)" [width]="50"></kendo-grid-column>
            </kendo-grid>
        </div>

        <!-------------Past 14-days Yield Trend Chart---------->
        <div class="col-md-6">
            <section class="chart">
                <kendo-chart [categoryAxis]="{ categories: categories, labels: { rotation: 'auto'}  }">
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item [min]="minYaxisDailyYieldChart" [max]="maxYaxisDailyYieldChart" ></kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>
                    <kendo-chart-title text="Past 14 Days Daily % Pass (Actual vs Prediction)"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of dailyChartSeries"
                        type="line"
                        [style]="smooth"
                        [data]="item.data"
                        [name]="item.name"
                        [markers]="item.markers"
                        [color]="item.color"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </section>

        </div>

    </div>

</div>

