<div>
    <div class="row">
      <div class="col-12">
        <app-view-heading
          [title]="'Upload Files'"
        ></app-view-heading>  
      </div>
    </div> 

    <div class="wrapper">
        <kendo-tabstrip (tabSelect)="onTabSelect($event)">
          <kendo-tabstrip-tab id="modelFileTab" title="Upload Model File" [selected]="true">
            <ng-template kendoTabContent>                
                <div class="mb-3">Model File</div>
                <div class="row">
                    <div class="col-md-4 lg-4">
                        <div class="mb-3">                    
                            <kendo-label [for]="modelType" text="ML Model"></kendo-label>
                            <kendo-dropdownlist
                                class="form-control"                                
                                [defaultItem]="defaultModelType"
                                [data]="modelTypes"
                                textField="modelName"
                                valueField="id"
                                [(ngModel)]="selectedModelType"
                                placeholder="Select ML model"
                                #modelType
                            >
                            </kendo-dropdownlist>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <kendo-upload 
                        [autoUpload]="false"
                        [saveUrl]="uploadSaveUrl"
                        [removeUrl]="uploadRemoveUrl"
                        (success)="transferSuccessHandler($event)"
                    >   
                    </kendo-upload>
                </div>

            </ng-template>

           
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab title="Upload Preprocessing File">
            <ng-template kendoTabContent>
                <div>Preprocessing File</div>
                <kendo-upload
                [autoUpload]="false"
                [saveUrl]="uploadSaveUrl"
                [removeUrl]="uploadRemoveUrl"
                (error)="uploadErrorHandler($event)"
                >
                <!-- <ng-template kendoUploadFileInfoTemplate let-files>
                <div>Name: {{ files[0].name }}</div>
                </ng-template> -->
                </kendo-upload>
        </ng-template>
          </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </div>

</div>