:root {
  --tray-height: 100vh;
  --noOfRows: 10;  
}

.tray {
  height: var(--tray-height);
}

.classrow {
  height: calc(var(--tray-height) / var(--noOfRows));
}

.square {
  position: relative;
  background: grey;
  width: 50%; /*10vh;*/
  border-radius:15%;
  height: 50%;
  scale: 100%;
}

// .square {
//   position: relative;
//   background: grey;
//   width: 50%; /*10vh;*/
//   border-radius:15%;
//   height: 50%;
//   scale: 80%;
// }

.fail {
  //position: relative;
  background: red !important;
  //width: 50%;
  //border-radius:1em;
}

.pass {
  //position: relative;
  background: green !important;
  //width: 50%;
  //border-radius:1em;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.label {
  position: relative;
  width: 14vh;
  height: 1vw;
  font-size: 1em;
}
//
//.card {
//  min-height: 80vh;
//}

.legend {
  padding-left: 0;
  list-style-type: none;
  border-style: inset;
  margin: 2em 5em;
}

.legend-item {
  margin: 0.4em;
  cursor: pointer;
}

.legend-item .legend-marker {
  display: inline-block;
  width: 4em;
  height: 2em;
  vertical-align: middle;
  user-select: none;
  border-radius: 5px;
  //margin: 0.8em ;
}

.legend-item-inactive {
  color: #aaa;
}

.overlay {
  opacity: 0.9 !important;
}

.flex-container {
  height: fit-content;
  //display:flex;
  //flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}

.whole-cell {
  display: block;
}

.td .no-padding {
  padding: 0;
  text-align: center;
}
