.square {
  position: relative;
  background: grey;
  width: 50%;
  border-radius:1em;
  height: 15vh;
}

.fail {
  //position: relative;
  background: red;
  //width: 50%;
  //border-radius:1em;
}

.pass {
  //position: relative;
  background: green;
  //width: 50%;
  //border-radius:1em;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.label {
  position: relative;
  width: 50%;
  font-size: 1rem;
}
//
//.card {
//  min-height: 80vh;
//}

.legend {
  padding-left: 0;
  list-style-type: none;

}

.legend-item {
  margin: 2px;
  cursor: pointer;
}

.legend-item .legend-marker {
  display: inline-block;
  width: 4em;
  height: 2em;
  vertical-align: middle;
  user-select: none;
  border-radius: 5px;
}

.legend-item-inactive {
  color: #aaa;
}

.predictiontype {
  color: red
}

.overlay {
  opacity: 0.9 !important;
}

.whole-cell {
  display: block;
}

