
<!----------------------------------------------------------------------->
<!--------------------------- View Details Tray ------------------------->

<div class="k-overlay" *ngIf="isViewDetailsClicked"></div>

<span [hidden]="!isViewDetailsClicked">
    <kendo-window
    title= "Tray of Past Prediction: {{vdTitle}}"
    [top]="100"
    (close)="closeVD()"
    [minWidth]="350"
    [width]="600"
    [hidden]="!isViewDetailsClicked">
      <div class="d-flex flex-column">
        <div class="p-1 justify-content-center">
            <h2 style="text-align: center"> Work Order: {{vdTitle}} </h2>
        </div>
        <div class="px-4 mb-3" style="text-align: left;">
            Prediction Type: <span class="predictiontype">{{vdPredictionType}}</span><br>
            ML Model: {{vdMlModel}}<br>
            ML Library/Framework: {{vdMlLibrary}}
        </div>
<!--        <div class="vdTray" >-->
          <ng-container *ngFor="let rowCt of vdRowArr" >
<!--            <div style="align-content: center;">-->
              <div class="d-flex justify-content-center my-3" >
                <ng-container id="vdwpSq" *ngFor="let item of vdWpList.slice(rowCt*numItemPerVdRow,(rowCt+1)*numItemPerVdRow),  let k=index; trackBy: trackByFn" >
                  <div class="square d-flex flex-row mx-2 justify-content-center"  [style]="setSquareHeight()" [id]="item.wpId"></div>
                </ng-container>
              </div>
              <div class="d-flex flex-row justify-content-center" >
                <!-- labelling -->
                <ng-container *ngFor="let item of vdWpList.slice(rowCt*numItemPerVdRow,(rowCt+1)*numItemPerVdRow)">
                  <div class="label d-flex flex-row mx-2 justify-content-center"  [style]="setSquareHeight()">{{item.wpName}}</div>
                </ng-container>
              </div>
<!--            </div>-->
          </ng-container>
        </div>
        <ul class="legend">
            <div class="d-flex flex-row justify-content-center px-4 mt-2 mb-3">
                <li *ngFor="let item of status; let index = index" class="legend-item">
                    <div class="px-4">
                        <span class="legend-marker" [style.background]="item.color"></span>
                        <b class="mx-1">{{ item.kind }}</b>
                    </div>
                </li>
            </div>
        </ul>
<!--      </div>-->
    </kendo-window>
</span>

<div class="container-fluid">

    <div class="row" style="height:10vh">
        <div class="col-md-7">
            <app-view-heading
            [title]="pageTitle"
            [previousRouteLink]="'/prediction-summary-page'"
            ></app-view-heading>
        </div>
        <div class="col-md-5" style="position: relative">
            <span style="position:absolute; right:2%; top:20%; font-size: 1.35rem">{{dashboardtime}}</span>
        </div>
    </div>



    <!------------------------------------------------------------------------------------>
    <!----------------------------------KPI and Real-time chart--------------------------->
    <div class="row" style="height:40%">
        <div class="col-md-4">
            <div class="row">
            <!--------1st KPI---------->
            <app-indicator-custom-sample
                    [name]="'summarypage.KPI1' | translate"
                    [group]=""
                    [details]=""
            >
            <kendo-arcgauge style="height: 8.5vw" [value]="PredictedPassResult" [colors]="colors">
                <ng-template
                        kendoArcGaugeCenterTemplate
                        let-value="value"
                        let-color="color"
                >
                    <span [style.color]="color" style="font-size:1.8em">{{ PredictedPassResult }}%</span>
                </ng-template>
            </kendo-arcgauge>
            </app-indicator-custom-sample>
            </div>

            <div class="row mt-2" style="height: 8.5vw">
                <app-indicator-custom-sample
                        [name]="'summarypage.KPI3' | translate"
                        [group]=""
                        [callout]="TotalFailOverTotalCase"
                        [details]=""
                ></app-indicator-custom-sample>
            </div>
        </div>

        <div class="col-md-8">
            <section class="chart" style="height:100%">
                <kendo-chart style="height:20vw" [categoryAxis]="{ categories: categoriesRealTimeChart, labels: { rotation: 'auto'}  }">
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item [min]="minYaxisRealTimeChart" [max]="maxYaxisRealTimeChart" ></kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>
                    <kendo-chart-title text="Real-time % Pass Prediction"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of realTimeChartSeries" type="line"
                                [style]="smooth"
                                [data]="item.data"
                                [name]="item.name"
                                [markers]="item.markers"
                                [color]="item.color"
                        ></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </section>
        </div>
    </div>

    <!-------------------------------------------------------------------------------------->
    <!---------------------------------Work Order Table and Visualisation------------------->
    <!-------------------------------------------------------------------------------------->
    <div class="row" >
      <!-------------------------------- WO Hist Table -------------------------------------->
      <div class="col-md-7">
          <div class="row my-3 mx-1" style="height:75%">
              <kendo-grid id="wotable"
                [kendoGridBinding]="predHistTableDs"
                [height]="setTableHeight(predHistTableDs.length)"
                [resizable]="true"
                [pageable]="true"
                [pageSize]="20"
              >
                <kendo-grid-column
                        field="id"
                        title="Work Order"
                        width="100"
                        [headerStyle]="{'text-align': 'center'}"
                ></kendo-grid-column>
                <kendo-grid-column
                        field="startDt"
                        title="Start Time"
                        width="100"
                        [headerStyle]="{'text-align': 'center'}"
                ></kendo-grid-column>
                <kendo-grid-column
                  field="passPredict"
                  title="% Pass Prediction"
                  width="80"
                  class="no-padding"
                  [headerStyle]="{'text-align': 'center'}">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <span
                      class="whole-cell"
                      [style.backgroundColor]="colorCode(dataItem.passPredict)"
                      [style]="{'text-align' : 'center'} "
                    >
                    {{ dataItem.passPredict }} </span>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column
                        field="failTotalQty"
                        title="Total Fail / Total Qty"
                        width="80"
                        [style]="{'text-align': 'center'}"
                ></kendo-grid-column>
                <kendo-grid-column
                        field="status"
                        title="Status"
                        width="50"
                        [headerStyle]="{'text-align': 'center'}"
                ></kendo-grid-column>
                <kendo-grid-column
                        field="id"
                        title=" "
                        [width]="100"
                        [style]="{'text-align': 'center'}"
                >
                    <!--                    <a style="text-decoration: underline; justify-content: center; color: #0275d8" (click)="setTrayFromTable(predHistTableDs[1].workpieces)" > View Details </a>-->

                    <ng-template kendoGridCellTemplate let-dataItem>
                        <a id="detailsURL" style="text-decoration: underline; justify-content: center; color: #0275d8" (click)=onSelect(dataItem) > View Details </a>
                    </ng-template>
                </kendo-grid-column>
              </kendo-grid>
          </div>
        </div>

      <!-------------------------------------- Tray ----------------------------------------->
      <div class="col-md-5 my-3" >
            <section class="chart text-right pb-2" >
                    <div class="p-1 justify-content-center">
                        <h2 style="text-align: center"> Current WO Prediction Result </h2>
                    </div>
                    <div class="px-4">
                        Prediction Type: <span class="predictiontype">{{predictionType}}</span><br>
                        ML Model: {{mlModel}}<br>
                        ML Library/Framework: {{mlLibrary}}
                    </div>
                    <div class="d-flex flex-row px-4">
                        <div class="col">
                            <h3>Work Order: {{workOrderNo}}</h3>
                        </div>
                    </div>
                    <div class="tray" >
                      <ng-container *ngFor="let rowCounter of rowArray, let i=index; trackBy: trackByFn" >
                        <div style="align-content: center;">
                          <div class="d-flex justify-content-center my-3" >
                            <ng-container id="wpSq" *ngFor="let wp of wpList.slice(rowCounter*numItemPerRow,(rowCounter+1)*numItemPerRow)" >
                              <div class="square d-flex flex-row mx-2 justify-content-center" [id]="wp.wpId" [style]="setSquareHeight()"  ></div>
                            </ng-container>
                          </div>
                          <div class="d-flex flex-row justify-content-center" >
                            <!-- labelling -->
                            <ng-container *ngFor="let item of wpList.slice(rowCounter*numItemPerRow,(rowCounter+1)*numItemPerRow)">
                              <div class="label d-flex flex-row mx-2 justify-content-center" [style]="setSquareHeight()">{{item.wpName}}</div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <ul class="legend">
                        <div class="d-flex flex-row justify-content-center px-4 mt-3 mb-3">
                            <li *ngFor="let item of status; let index = index" class="legend-item" >
                                <div class="px-4">
                                    <span class="legend-marker" [style.background]="item.color"></span>
                                    <b class="mx-1">{{ item.kind }}</b>
                                </div>
                            </li>
                        </div>
                    </ul>
            </section>
        </div>

    </div>

</div>


